/*
    Document   : css/work.css
    Created on : 2017-01-08 02:47 PM
    Author     : amaity
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

body {
    background-color: #EEE;
}

img {
    vertical-align: middle;
}

a {
    clear: both;
    padding: 5px;
    background-color: #666;
    color: white;
    text-align: center;
    font-size: 150%;
    text-decoration: none;
}

#container {
    background-color: white;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    background-color: #EEE;
    font-family:Ravie;
    font-size: 200%;
    text-align:center;
    padding-bottom: 20px;
}

#content #nav ul li {
    list-style: none;
    display: inline;
}

.active{
    font-size: 150%;
}

#main {
    font-size: 150%;
    margin-left: 20px;
    padding-bottom: 20px;
}

#footer {
    clear: both;
    padding: 5px;
    background-color: #666;
    color: white;
    text-align: center;
}
